.caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: -1px 10px 13px -9px rgba(120, 120, 120, 0.2);
  border-bottom: 1px solid #dfdfdf;
}

.caixa-logo {
  margin-top: 0.6px;
  cursor: pointer;
}

.caixa-conteudo {
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.plano {
  background-color: #d9d9d9;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.nick-name {
  display: flex;
  margin-left: 10px;
  width: 100px;
  gap: 10px;
  align-items: center;
}

