.tudo{
margin: 50px 0px 0px 100px;
width: 900px;
gap: 10px;
}
.botoes{
display: flex;
gap: 20px;
}
input{
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 211, 228);
  text-align: center;
}
select{
  width: 150px;
  height: 33px;
  border-radius: 5px;
  background-color: rgb(255, 211, 228);
}

button{
  width: 150px;
  height: 33px;
  border-radius: 5px;
  background-color: rgb(255, 211, 228);
}

.botao-baixar{
  display: flex;
  justify-content: end;
}

.tabela{
  width: 80%;
  margin-top: 30px;
}

hr {
  border-color: rgb(255, 10, 104);
}
