.tudo{
margin: 50px 0px 0px 100px;
width: 900px;
gap: 10px;
}

#paginasProcessadas {
  color: #aaaaaa;
  margin-top: -0.5%;
  padding-left: 0.5%;
}

.botoes{
display: flex;
gap: 20px;
}

input{
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: #f3f3f3;
  text-align: center;
}

select{
  width: 180px;
  height: 43px;
  border-radius: 5px;
  background-color: #f3f3f3;
}

button{
  width: 150px;
  height: 43px;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.botao-baixar{
  display: flex;
  justify-content: end;
}

.tabela{
  width: 80%;
  margin-top: 30px;
}

hr {
  border-color: rgb(255, 10, 104);
}

.light-theme {
  color: black;
}

.dark-theme{
  .custom-table {
    color: #ffffff;
  }

  .custom-table th.tudo {
    color: #ffffff;
  }

  .custom-table td {
    color: #ffffff;
  }
}
